<h1><%= @team %></h1><br>

<h2><%= @motto %></h2><br>

<!--<%= binding.pry %>--> 

<% @hero_names.each.with_index do |name, index| %>

<% binding.pry %>

    <div class="member">
        <h2>Hero Name: <%= name %></h2><br>
        <p>Hero Power: <%= @hero_powers[index] %><br>
        <p>Hero Biography: <%= @hero_bios[index] %><br>
    </div>
     
<!-- iterate through attribute arrays from controller using each with index -->
         
 <!--use this iteration to "piggy back" index updating 
 to assign/grab values of those indexes from other two arrays. Then use this index
 to build out each team member below using the values accessed from the each with index
 iteration.



<% @member_1 = @members[0] %>
    <div class="member">
        <h2>Hero Name: <%= @member_1.name %></h2><br>
        <p>Hero Power: <%= @member_1.power %></p><br>
        <p>Hero Biography: <%= @member_1.bio %></p><br>
    </div><br>

<% @member_2 = @members[1] %>
    <div class="member">
        <h2>Hero Name: <%= @member_2.name %></h2><br>
        <p>Hero Power: <%= @member_2.power %></p><br>
        <p>Hero Biography: <%= @member_2.bio %></p><br>
    </div><br>

<% @member_3 = @members[2] %>
    <div class="member">
        <h2>Hero Name: <%= @member_3.name %></h2><br>
        <p>Hero Power: <%= @member_3.power %></p><br>
        <p>Hero Biography: <%= @member_3.bio %></p><br>
    </div><br>-->


