<h1><%= @team %></h1>

<h2>Team Motto: <%= @motto %></h2>

<% @hero_names.each.with_index do |name, index| %>

    <div class="member">
        <h2>Hero Name: <%= name %></h2>
        <p>Hero Power: <%= @hero_powers[index] %>
        <p>Hero Biography: <%= @hero_bios[index] %>
    </div>

<% end %> 







